<div class="analysis-container">

    <div *ngIf="analysis.getReady() !== 0" class="spinner">
        <mat-spinner color="accent" [diameter]="30"></mat-spinner>
    </div>

    <div *ngIf="analysis.getReady() === 0" class="card-container">

        <mat-card>

            <mat-card-header>

                <mat-card-title class="p-0 m-0">
                    Participants
                </mat-card-title>

            </mat-card-header>

            <hr class="my-1 mt-2" />

            <mat-card-content>
                <mat-grid-list cols="8" rowHeight="3.5:1" gutterSize="12px">

                    <mat-grid-tile *ngFor="let player of ss.fightPlayerMap.get(fightId)" [ngClass]="{'active mat-elevation-z6': player.id === activePlayer.id}"
                        (click)="activePlayer = player">

                        <mat-icon [svgIcon]="jobs[player.type]"></mat-icon>

                    </mat-grid-tile>

                </mat-grid-list>

                <div>
                    <p *ngFor="let event of analysis.castMap.get(activePlayer.id) | eventFilter: jobs[activePlayer.type]">
                        {{toFightTime(analysis.fight.start_time, event.timestamp)}} {{event.ability.name}}
                    </p>
                </div>
            </mat-card-content>

        </mat-card>

        <mat-card>

            <mat-card-header>

                <mat-card-title class="p-0 m-0">
                    Event Log
                </mat-card-title>

            </mat-card-header>

            <hr class="my-1 mt-2">

            <mat-card-content class="event-container">

                <div *ngFor="let event of analysis.damageTakenEvents">
                    ({{toFightTime(analysis.fight.start_time, event.calculatedTimestamp)}}) {{event.lethal}} {{event.ability.name}}
                </div>

            </mat-card-content>

        </mat-card>
    </div>

</div>