mat-card {

    margin:20px;
}

.card-container:last-child {

    margin-bottom: 100px;
}

mat-grid-tile {

    cursor: pointer;
}

mat-grid-tile.active {

    border: 1px solid #DEE2E6;
    border-radius: 2px;
}

.spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.event-container {

    margin-bottom: 100px;
}

.participant-tile-content {

    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.ability-icon {

    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
}

.mat-tooltip {

    white-space: pre-line;
}

::ng-deep .ability-tooltip {

    white-space: pre-line;
}

.icon-container {

    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.ability-icon-container {

    margin: 0px 5px 0px 5px;
}

.ability-container {

    width: 50%;
}