mat-card {

    margin:20px;
}

.card-container:last-child {

    margin-bottom: 100px;
}

mat-grid-tile {

    cursor: pointer;
}

mat-grid-tile.active {

    border: 1px solid #DEE2E6;
    border-radius: 2px;
}

.spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.event-container {

    margin-bottom: 100px;
}

.participant-tile-content {

    display: flex;
    align-items: center;
    justify-content: flex-start;
}