<div class="page-container" style="overflow: hidden;">
    <mat-toolbar color="primary">
        
        
        <mat-icon matRipple class="icon-display" (click)="sidenav.toggle(); state.sidenavTriggered = true">
            menu
        </mat-icon>

        <a class="lead ml-4" routerLink="/">
            XIVHealing
        </a>

    </mat-toolbar>

    <mat-sidenav-container class="container-flush">

        <mat-sidenav #sidenav mode="side" [(opened)]="state.sidenavExpanded" class="col-4 p-0" style="overflow: hidden;"
            (opened)="state.sidenavTriggered = false" (closed)="state.sidenavTriggered = false">

            <app-side-nav></app-side-nav>

        </mat-sidenav>


        <mat-sidenav-content>
    
            <router-outlet></router-outlet>

        </mat-sidenav-content>

    </mat-sidenav-container>

</div>